# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\2학년 2학기\ScriptProgramming\Assignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
